<div class="sort-buttons custom-sort-buttons">
    <select ng-model="filterType">
        <option value="">All</option>
        <option value="food">Food</option>
        <option value="tech">Technology</option>
        <option value="clothe">Clothes</option>
        <option value="other">Others</option>
    </select>
    <a ng-click="sortType = 'price'; sortReverse = false" class="sort-button">giá tăng dần</a>
    <a ng-click="sortType = 'price'; sortReverse = true" class="sort-button">giá giảm dần</a>
</div>

<div class="shop-product" ng-controller="MainController">
    <div ng-repeat="product in products | filter:searchTerm | orderBy:sortType:sortReverse | filter:filterType"
        class="d-flex flex-column align-items-center mt-5 product">
        <div>
            <img ng-src="{{product.image}}" alt="" class="img-fluid">
        </div>
        <div class="d-flex justify-content-center">
            <label>{{product.name}}</label>
        </div>
        <div>
            <rating-star rating-value="rating"></rating-star>
        </div>
        <div class="d-flex align-items-center">
            <span class="h5 font-weight-bold ">${{product.price}}</span>
        </div>
        <div class="group-input">
            <quantity-buttons quantity="product.quantity"></quantity-buttons>
        </div>
        <div class="d-flex mt-3">
            <button class="btn btn-primary" ng-click="addToCart(product, product.quantity)">add to cart</button>
        </div>
    </div>
</div>